{{- $now := dateInZone "20060102150405" (now) "UTC" -}}

name: {{ .Vars.project.name }}

services:

    ##########
    # System #
    ##########

    system:
        hostname: {{ .Vars.project.name }}
        build:
            context: .
            target: system
        image: {{ .Vars.project.name }}:{{ $now }}
        volumes:
            - ../..:${DIR}
            {{- range $mount := .Vars.system.mount }}
              {{- if isAbs $mount }}
            - {{ $mount }}:{{ $mount }}
              {{- else }}
            - ../../{{ $mount }}:${DIR}/{{ $mount }}
              {{- end }}
            {{- end }}
        {{- if .Vars.system.ports }}
        ports:
            {{- range $ports := .Vars.system.ports }}
            - {{ $ports }}
            {{- end }}
        {{- end }}
        environment:
            DIR: ${DIR}
            CACHE_DIR: ${CACHE_DIR}
            {{- if .Vars.system.env }}
            {{- .Vars.system.env | toYaml | nindent 12 }}
            {{- end }}
        {{- if .Vars.system.env_file }}
        {{- if kindIs "slice" .Vars.system.env_file }}
        env_file:
            {{- range $file := .Vars.system.env_file }}
            - ../../{{ $file }}
            {{- end }}
        {{- else }}
        env_file: ../../{{ .Vars.system.env_file }}
        {{- end }}
        {{- end }}
        working_dir: ${DIR}
        entrypoint: .manala/docker/entrypoint.sh
        # Use default docker bridge network
        network_mode: bridge
