services:

    ###########
    # Mailpit #
    ###########

    mailpit:
        image: axllent/mailpit:v1.27.0
        command:
            - --smtp
            - 0.0.0.0:25
        network_mode: service:app

    #######
    # App #
    #######

    app:
        ports:
            # Mailpit
            - {{ include "project_port" (list .Vars.project 25) }}:8025
