{{/* Release makefile target */}}
{{ define "release_target" -}}
    {{- if hasKey . "app" }}.{{ .app }}{{ end -}}
    @
    {{- .tier }}
{{- end }}

{{/* Release makefile help */}}
{{ define "release_help" -}}
    {{- if hasKey . "app" }}{{ .app }} {{ end -}}
    in {{ .tier }}
{{- end }}

{{/* Release ansible group */}}
{{ define "release_group" -}}
    {{- if hasKey . "app" }}{{ .app }}_{{ end -}}
    {{- regexReplaceAll "[^[:alnum:]_]" .tier "_" }}
{{- end }}

{{/* Release ansible host */}}
{{ define "release_host" -}}
    {{- if hasKey . "app" }}.{{ .app }}{{ end -}}
    @
    {{- .tier }}
{{- end }}

{{/* Release ansible tasks */}}
{{- define "release_tasks" -}}
    {{- $tasks := list -}}
    {{- range $task := . -}}
      {{- if hasKey $task "when" -}}
        {{- $task := set $task "when" (cat "{{" $task.when "}}")  -}}
      {{- end -}}
      {{ $tasks = mustAppend $tasks $task -}}
    {{- end -}}
    {{- $tasks | toYaml }}
{{- end -}}

{{/* Project host */}}
{{- define "project_host" -}}
    {{- .name -}}.{{- .domain -}}
{{- end -}}

{{/* Project port */}}
{{- define "project_port" -}}
    {{- (index . 0).ports_prefix -}}
    {{- printf "%02d" (index . 1) -}}
{{- end -}}

{{/* Elasticsearch version */}}
{{- define "elasticsearch_version" -}}
    {{- $elasticsearch_versions := dict 5 "5.6.16" 6 "6.8.23" 7 "7.17.1" 8 "8.0.0" -}}
    {{- $version := .version -}}
    {{- index $elasticsearch_versions ($version | toString) -}}
{{- end -}}
