{{- $now := dateInZone "20060102150405" (now) "UTC" -}}

name: {{ .Vars.project.name | replace "." "-" }}

services:

    ##########
    # System #
    ##########

    system:
        hostname: {{ .Vars.project.name }}
        build:
            context: ..
            dockerfile: docker/Dockerfile
        image: {{ .Vars.project.name }}:{{ $now }}
        pull_policy: never
        restart: always
        ports:
            - {{ .Vars.system.nginx.port }}:80
            {{- range $port := .Vars.system.network.ports }}
            - {{ $port }}
            {{- end }}
        volumes:
            - ../..:${MANALA_DIR}
            {{- range $mount := .Vars.system.mount }}
              {{- if isAbs $mount }}
            - {{ $mount }}:{{ $mount }}
              {{- else }}
            - ../../{{ $mount }}:${MANALA_DIR}/{{ $mount }}
              {{- end }}
            {{- end }}
        {{- if .Vars.system.tmpfs }}
        tmpfs:
            {{- range $fs := .Vars.system.tmpfs }}
            - {{ $fs }}
            {{- end }}
        {{- end }}
        environment:
            MANALA_DIR: ${MANALA_DIR}
            MANALA_CACHE_DIR: ${MANALA_CACHE_DIR}
            {{- if .Vars.system.env }}
            {{- .Vars.system.env | toYaml | nindent 12 }}
            {{- end }}
        {{- if .Vars.system.env_file }}
        {{- if kindIs "slice" .Vars.system.env_file }}
        env_file:
            {{- range $file := .Vars.system.env_file }}
              {{- if kindIs "map" $file }}
              {{- $file := set $file "path" (printf "../../%s" $file.path) }}
            - {{ $file | toYaml | indent 14 | trim }}
              {{- else }}
            - ../../{{ $file }}
              {{- end }}
            {{- end }}
        {{- else }}
        env_file: ../../{{ .Vars.system.env_file }}
        {{- end }}
        {{- end }}
        working_dir: ${MANALA_DIR}
