{{- $now := dateInZone "20060102150405" (now) "UTC" -}}

name: {{ .Vars.project.name }}

{{- if .Vars.system.mariadb.version }}

volumes:
    mariadb:

{{- end }}

services:

{{- if .Vars.system.mariadb.version }}

    ###########
    # MariaDB #
    ###########

    mariadb:
        hostname: mariadb.{{ .Vars.project.name }}
        image: mariadb:{{ .Vars.system.mariadb.version | toString }}
        restart: always
        ports:
            - {{ .Vars.system.mariadb.port | toString }}:3306
        volumes:
            - mariadb:/var/lib/mysql
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            MYSQL_DATABASE: project
            MYSQL_USER: project
            MYSQL_PASSWORD: project

{{- if .Vars.system.phpmyadmin.version }}

    ##############
    # PhpMyAdmin #
    ##############

    phpmyadmin:
        hostname: phpmyadmin.{{ .Vars.project.name }}
        image: phpmyadmin/phpmyadmin:{{ .Vars.system.phpmyadmin.version | toString }}
        restart: always
        ports:
            - {{ .Vars.system.phpmyadmin.port }}:80
        depends_on:
            - mariadb
        environment:
            PMA_HOST: mariadb
            PMA_USER: root
            UPLOAD_LIMIT: 64M

{{- end }}

{{- end }}

{{- if .Vars.system.maildev.version }}

    ###########
    # MailDev #
    ###########

    maildev:
        hostname: maildev.{{ .Vars.project.name }}
        image: maildev/maildev:{{ .Vars.system.maildev.version | toString }}
        restart: always
        user: root
        ports:
            - {{ .Vars.system.maildev.port }}:80
        command: ["--web", "80", "--smtp", "25"]

{{- end }}

    ##########
    # System #
    ##########

    system:
        hostname: {{ .Vars.project.name }}
        build:
            context: ..
            dockerfile: docker/Dockerfile
        image: {{ .Vars.project.name }}:{{ $now }}
        restart: always
        ports:
            - {{ .Vars.system.nginx.port }}:80
            {{- range $port := .Vars.system.network.ports }}
            - {{ $port }}
            {{- end }}
        volumes:
            - ../..:${DIR}
            {{- range $mount := .Vars.system.mount }}
              {{- if isAbs $mount }}
            - {{ $mount }}:{{ $mount }}
              {{- else }}
            - ../../{{ $mount }}:${DIR}/{{ $mount }}
              {{- end }}
            {{- end }}
        environment:
            DIR: ${DIR}
            CACHE_DIR: ${CACHE_DIR}
            {{- if .Vars.system.env }}
            {{- .Vars.system.env | toYaml | nindent 12 }}
            {{- end }}
        {{- if .Vars.system.env_file }}
        {{- if kindIs "slice" .Vars.system.env_file }}
        env_file:
            {{- range $file := .Vars.system.env_file }}
            - ../../{{ $file }}
            {{- end }}
        {{- else }}
        env_file: ../../{{ .Vars.system.env_file }}
        {{- end }}
        {{- end }}
        working_dir: ${DIR}
        {{- if or .Vars.system.mariadb.version .Vars.system.maildev.version }}
        links:
            {{- if .Vars.system.mariadb.version }}
            - mariadb
            {{- end }}
            {{- if .Vars.system.maildev.version }}
            - maildev
            {{- end }}
        {{- end }}
