name: {{ .Vars.project.name }}

services:

    {{- if .Vars.system.mysql.version }}

    #########
    # MySQL #
    #########

    mysql:
        image: mysql/mysql-server:{{ .Vars.system.mysql.version | toString }}
        {{- if le (.Vars.system.mysql.version|float64) 5.7 }}
        # mysql/mysql-server image unavailable for arm64 on version <= 5.7
        # force amd64 architecture
        platform: linux/amd64
        {{- end }}
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            MYSQL_ROOT_HOST: "%"
        network_mode: service:app
        healthcheck:
            test: mysqladmin ping --silent --host 0.0.0.0
            interval: 30s
            timeout: 30s
            retries: 3
            start_period: 0s

    {{- else if .Vars.system.mariadb.version }}

    ###########
    # MariaDB #
    ###########

    mariadb:
        image: mariadb:{{ .Vars.system.mariadb.version | toString }}
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        network_mode: service:app
        healthcheck:
            test: mysqladmin ping --silent --host 0.0.0.0
            interval: 30s
            timeout: 30s
            retries: 3
            start_period: 0s

    {{- end }}

    {{- if .Vars.system.elasticsearch.version }}

    #################
    # Elasticsearch #
    #################

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:{{ include "elasticsearch_version" .Vars.system.elasticsearch }}
        {{- if le (.Vars.system.elasticsearch.version|int) 6 }}
        # docker.elastic.co/elasticsearch/elasticsearch image unavailable for arm64 on version <= 6
        # force amd64 architecture
        platform: linux/amd64
        {{- end }}
        environment:
            discovery.type: single-node
            http.cors.allow-origin: "*"
            http.cors.enabled: "true"
            xpack.security.enabled: "false"
        command: >
            sh -c
            "{{- range $plugin := $.Vars.system.elasticsearch.plugins }}((elasticsearch-plugin list|grep {{ $plugin }}) || elasticsearch-plugin install --batch --verbose {{ $plugin }}) && {{ end -}}
            exec docker-entrypoint.sh"
        network_mode: service:app
        healthcheck:
            test: curl --silent --fail --output /dev/null http://127.0.0.1:9200/_cluster/health?wait_for_status=yellow
            interval: 30s
            timeout: 30s
            retries: 3
            start_period: 0s

    {{- end }}

    #######
    # App #
    #######

    app:
        hostname: {{ .Vars.project.name }}
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: app
            args:
                MANALA_HOST_OS: ${MANALA_HOST_OS:-linux}
                MANALA_HOST_DIR: ${MANALA_HOST_DIR:-}
                MANALA_USER_ID: ${MANALA_USER_ID:-1000}
                MANALA_GROUP_ID: ${MANALA_GROUP_ID:-1000}
        {{- $env := .Vars.system.env }}
        {{- if .Vars.system.php.version }}
          {{- $env = set $env "COMPOSER_MEMORY_LIMIT" -1 }}
        {{- end }}
        {{- dict "environment" $env | toYaml | nindent 8 }}
        {{- if .Vars.system.network.hosts }}
        extra_hosts:
            {{- range $ip, $host := .Vars.system.network.hosts }}
            - "{{ $host }}:{{ $ip }}"
            {{- end }}
        {{- end }}
        volumes:
            - ../..:/srv/app

    {{- $services := omit .Vars.system.docker.services "app" }}
    {{- if $services }}
    {{ $services | toYaml | nindent 4 }}
    {{- end }}
