name: {{ .Vars.project.name | replace "." "-"}}

services:

    #######
    # App #
    #######

    app:
        hostname: {{ .Vars.project.name }}
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: app
            args:
                MANALA_HOST_OS: ${MANALA_HOST_OS:-linux}
                MANALA_HOST_DIR: ${MANALA_HOST_DIR:-}
                MANALA_USER_ID: ${MANALA_USER_ID:-1000}
                MANALA_GROUP_ID: ${MANALA_GROUP_ID:-1000}
        {{- $env := .Vars.system.env }}
        {{- if .Vars.system.php.version }}
          {{- $env = set $env "COMPOSER_MEMORY_LIMIT" -1 }}
        {{- end }}
        {{- dict "environment" $env | toYaml | nindent 8 }}
        {{- if .Vars.system.network.hosts }}
        extra_hosts:
            {{- range $ip, $host := .Vars.system.network.hosts }}
            - "{{ $host }}:{{ $ip }}"
            {{- end }}
        {{- end }}
        volumes:
            - ../..:/srv/app

    {{- $services := omit .Vars.system.docker.services "app" }}
    {{- if $services }}
    {{ $services | toYaml | nindent 4 }}
    {{- end }}
