---

- name: strategy/unarchive
  block:

    - name: strategy/unarchive > Create dir
      ansible.builtin.file:
        path: "{{ ansible_facts.deploy_helper.new_release_path }}/"
        state: directory

    - name: strategy/unarchive > Unarchive
      ansible.builtin.unarchive:
        src: "{{ deploy_strategy_unarchive_src }}"
        dest: "{{ ansible_facts.deploy_helper.new_release_path }}"
