#!/bin/sh

{% if item.message is iterable and item.message is not string -%}
MESSAGE="$(printf '%s\n' {% for message in item.message %}{{ message | center(80) | quote }} {% endfor %}| shuf -n1)"
{% else -%}
MESSAGE={{ item.message | center(80) | quote }}
{% endif %}

MOTD=$(cat <<EOF
                                                                                      [0m
[1;31m                   llllllll                                                     [0m
[1;31m                   llllllll                                                     [0m
[1;31m                   llllllll                                                     [0m
[1;31m     eeeeeee       llllllll     aaaaaaaa  aaaaaa      ooooooooooo               [0m
[1;31m  eeeeeeeeeeee     llllllll   aaaaaaaaaaaaaaaaaa    ooooooooooooooo             [0m
[1;31m eeeeeeeeeeeeeee   llllllll  aaaaaaaaaaaaaaaaaaa   ooooooooooooooooo            [0m
[1;31meeeee       eeeee  llllllll  aaaaaaa     aaaaaaa  ooooooo     ooooooo           [0m
[1;31meeeeeeeeeeeeeeeee  llllllll  aaaaaa       aaaaaa  oooooo       oooooo           [0m
[1;31meeeeeeeeeeeeeeeee  llllllll  aaaaaa       aaaaaa  oooooo       oooooo           [0m
[1;31meeeee              llllllll  aaaaaaa     aaaaaaa  ooooooo     ooooooo           [0m
[1;31meeeee      eeeeee  llllllll  aaaaaaaaaaaaaaaaaaa   ooooooooooooooooo            [0m
[1;31m eeeeeeeeeeeeeee   llllllll   aaaaaaaaaaaaaaaaaa    ooooooooooooooo             [0m
[1;31m   eeeeeeeeeee     llllllll     aaaaaaaa  aaaaaa      ooooooooooo    [1;31m[5m///////////[0m

$MESSAGE
EOF
)

MOTD_APRIL_FOOL=$(cat <<EOF
                                                        [1;36m                              [0m
[1;31m                   llllllll                       [1;36m                              [0m
[1;31m                   llllllll                       [1;36m                   @          [0m
[1;31m                   llllllll                       [1;36m                              [0m
[1;31m     eeeeeee       llllllll     aaaaaaaa  aaaaaa  [1;36m                              [0m
[1;31m  eeeeeeeeeeee     llllllll   aaaaaaaaaaaaaaaaaa  [1;36m               @              [0m
[1;31m eeeeeeeeeeeeeee   llllllll  aaaaaaaaaaaaaaaaaaa  [1;36m                    @         [0m
[1;31meeeee       eeeee  llllllll  aaaaaaa     aaaaaaa  [1;34mo        oooooo               [0m
[1;31meeeeeeeeeeeeeeeee  llllllll  aaaaaa       aaaaaa  [1;34moo   oooooooooooo             [0m
[1;31meeeeeeeeeeeeeeeee  llllllll  aaaaaa       aaaaaa  [1;34moooooooooooo  oooo            [0m
[1;31meeeee              llllllll  aaaaaaa     aaaaaaa  [1;34moooooooooooooooooo            [0m
[1;31meeeee      eeeeee  llllllll  aaaaaaaaaaaaaaaaaaa  [1;34moo   oooooooooooo             [0m
[1;31m eeeeeeeeeeeeeee   llllllll   aaaaaaaaaaaaaaaaaa  [1;34mo        oooooo               [0m
[1;31m   eeeeeeeeeee     llllllll     aaaaaaaa  aaaaaa  [1;34m                   [1;31m[5m///////////[0m

                                   Gloup gloup
EOF
)

if [ "$(date '+%m%d')" = "0401" ]; then
	MOTD=${MOTD_APRIL_FOOL}
fi

printf "%s\n" "$MOTD"
