{{- define "integration_node" -}}
  {{- $node := .node -}}
  {{- $app := .app -}}
  {{- $indent := .indent -}}
  {{- $leaf := .leaf -}}
  {{- $label := "Task" -}}

  {{/* Label */}}
  {{- if $node.label -}}
    {{- $label = $node.label -}}
  {{- else if $node.app -}}
    {{- $label = $node.app | title -}}
  {{- else if and ($node.shell) (regexMatch "^make .+@.+$" ($node.shell | default "")) -}}
    {{- $label = (regexReplaceAll "^make (.+)@.+$" $node.shell "${1}") | replace "." " - " | title -}}
  {{- end -}}

  {{/* Loop */}}
  {{- if $node.shell -}}
    {{- print "stage('" $label "') {" | nindent $indent }}
      {{- "steps {" | nindent ($indent | add 2 | int) }}
        {{- $node_indent := $indent | add 4 | int -}}
        {{- if $app -}}
          {{- print "dir('" $app "') {" | nindent ($indent | add 4 | int) }}
          {{- $node_indent = $node_indent | add 2 | int -}}
        {{-  end -}}
        {{- "sh '''" | nindent $node_indent }}
          {{- print "echo \"" $node.shell "\"" | nindent ($node_indent | add 2 | int) }}
        {{- "'''" | nindent $node_indent }}
        {{- if $app -}}
          {{- "}" | nindent ($indent | add 4 | int) }}
        {{-  end -}}
      {{- "}" | nindent ($indent | add 2 | int) }}
    {{- "}" | nindent $indent }}
  {{- else if $node.tasks -}}
    {{- $node_indent := $indent -}}
    {{- if $leaf -}}
      {{- print "stage('" $label "') {" | nindent $indent }}
      {{- $node_indent = $node_indent | add 2 | int -}}
    {{- end -}}
    {{- if $node.parallel -}}
      {{- "parallel {" | nindent $node_indent }}
    {{- else -}}
      {{- "stages {" | nindent $node_indent }}
    {{- end -}}
      {{- range $task := $node.tasks }}
        {{- template "integration_node" dict "node" $task "indent" ($node_indent | add 2 | int) "app" $node.app "leaf" true }}
      {{- end }}
      {{- "}" | nindent $node_indent }}
      {{- if $node.junit -}}
        {{- "post {" | nindent $node_indent }}
          {{- "always {" | nindent ($node_indent | add 2 | int) }}
            {{- print "junit testResults: '" ((empty $node.app) | ternary "" (print $node.app "/")) $node.junit "', allowEmptyResults: true" | nindent ($node_indent | add 4 | int) }}
          {{- "}" | nindent ($node_indent | add 2 | int) }}
        {{- "}" | nindent $node_indent }}
      {{- end }}
    {{- if $leaf -}}
      {{- "}" | nindent $indent }}
    {{- end }}
  {{- end }}
{{- end -}}

#!/usr/bin/env groovy

pipeline {
  agent {
    dockerfile {
      dir '.manala/docker'
    }
  }
  {{- if not .integration.tasks }}
  stages {
    stage('¯\\_(ツ)_/¯') {
      steps {
        echo 'Testing is doubting...'
      }
    }
  }
  {{- else }}
  {{- template "integration_node" dict "node" .integration "indent" 2 }}
  {{- end }}
}
