name: Integration
description: Integration
author: Elao

inputs:
  job:
    description: Job
    required: true
    default: {{ `${{ github.job }}` }}

runs:
  using: composite
  steps:

    - name: Setup
      uses: ./.manala/github/system
      with:
        setup: true

    {{- range $job_id, $job := .Vars.integration.github.jobs }}
    {{- $job_name := $job_id | replace "_" " - " | title }}
    {{- $job_if := printf "inputs.job == '%s'" $job_id }}

    ##{{ repeat (len $job_name) "#" }}##
    # {{ $job_name }} #
    ##{{ repeat (len $job_name) "#" }}##

    {{- range $task := $job.tasks }}
    {{- $task_name := "Task" }}
    {{- if hasKey $task "label" }}
      {{- $task_name = $task.label }}
    {{- else if and (not (empty $task.shell)) (regexMatch "^make .+@integration$" $task.shell) }}
      {{- $task_name = (regexReplaceAll "^make (.+)@integration$" $task.shell "${1}") | replace "." " - " | title }}
    {{- end }}

    {{ if $task.shell -}}
    - name: {{ $task_name }}
      if: {{ $job_if }}
      uses: ./.manala/github/system
      with:
        {{- if hasKey $job "app" }}
        app: {{ $job.app }}
        {{- end }}
        shell_group: 🔘 {{ $task_name }}
        shell: |
          {{- $task.shell | nindent 10 }}
    {{- end }}
    {{- end }}

    {{- if hasKey $job "artifacts" }}

    - name: Artifacts
      if: {{ $job_if }} && always()
      uses: actions/upload-artifact@v3
      with:
          name: {{ $job_name }}
          if-no-files-found: ignore
          path: |
            {{- range $artifact := $job.artifacts }}
            {{ $artifact }}
            {{- end }}
    {{- end }}

    {{- end }}
