# Integration

{{- if not .Vars.integration.github.jobs }}

¯\_(ツ)_/¯ Because testing is doubting...

{{- else }}

## Advices

The following templates are generic and must not be blindly copy/pasted to your project.
Please consider the following advices and example to adapt to your project needs.

### Draft and WIP PRs

Save your Github Actions quota and runners by avoiding running your workflow on draft PRs:

```yaml
# […]

jobs:
  my-job:
    runs-on: ubuntu-latest
    # Do not run Draft PRs:
    if: "!github.event.pull_request || github.event.pull_request.draft == false"
    # or per label:
    if: "!github.event.pull_request || !contains(github.event.pull_request.labels.*.name, 'WIP'"
    # or both:
    if: "!github.event.pull_request || !contains(github.event.pull_request.labels.*.name, 'WIP') && github.event.pull_request.draft == false)"
```

### Timeout

Avoid running your workflow indefinitely (might be a setup/runner issue) or detect abnormally long executions
by setting timeouts on your jobs and steps:

```yaml
# […]

jobs:
  my-job:
    runs-on: ubuntu-latest
    # Adapt the job timeout to your workflow
    timeout-minutes: 10

    steps:
      - name: Some heavy step
        timeout-minutes: 8
```

### Schedule

Properly identify when your workflow should be executed and schedule those than should only run periodically / on some file changes.
Typically, for dependencies checks (security/audit), limit your workflow to lock files changes and schedule a security check each week:

```yaml
on:
  push:
    branches: [master]
    # Only on dependencies changes:
    paths: ['**/composer.lock', '**/package-lock.json', '**/yarn.lock', '.github/**', '.manala/**']
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    # Only on dependencies changes:
    paths: ['**/composer.lock', '**/package-lock.json', '**/yarn.lock', '.github/**', '.manala/**']
  schedule:
    - cron: '0 0 * * 1' # At 00:00 on each Monday.

  # You can also allow to run this workflow manually using:
  workflow_dispatch: ~

# […]
```

## Usage

{{- /* Guess workflows */ -}}
{{- $workflows := list -}}
{{- range $job_id, $job := .Vars.integration.github.jobs -}}
{{- $workflows = (append $workflows ($job_id | regexFind "^[a-z]+")) | uniq -}}
{{- end -}}

{{- range $workflow := $workflows }}

{{- /* Guess apps */ -}}
{{- $apps := list -}}
{{- range $job_id, $job := $.Vars.integration.github.jobs }}
{{- if and ($job_id | hasPrefix $workflow) (hasKey $job "app") }}
{{- $apps = (append $apps $job.app) | uniq -}}
{{- end -}}
{{- end }}

`.github/workflows/{{ $workflow }}.yaml`:

```yaml
on:
  push:
    branches: [master]
    #branches: [master, staging]
    {{- if $apps }}
    #paths:[{{ range $app := $apps }}{{ $app }}/**, {{ end }}.github/**, .manala/**]
    {{- end }}
    # Only on dependencies changes:
    #paths: ['**/composer.lock', '**/package-lock.json', '**/yarn.lock', '.github/**', '.manala/**']
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  #schedule:
  #  - cron: 0 0 * * 1 # Every Monday 00:00
  #workflow_dispatch: ~

concurrency:
  group: {{ `${{ github.workflow }}-${{ github.ref }}` }}
  cancel-in-progress: true

jobs:

{{- range $job_id, $job := $.Vars.integration.github.jobs }}
{{- $job_name := $job_id | replace "_" " - " | title }}
{{- if $job_id | hasPrefix $workflow }}
  {{ $job_id }}:
    name: {{ $job_name }}
    runs-on: ubuntu-latest
    # Adapt the job timeout to your workflow:
    timeout-minutes: 10
    # Skip execution on draft PRs:
    if: "!github.event.pull_request || github.event.pull_request.draft == false"

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: {{ $job_name }}
        uses: ./.manala/github/integration
        with:
          #env: |
          #  {{ `COMPOSER_AUTH='{ "github-oauth": { "github.com": "${{ secrets.COMPOSER_AUTH_TOKEN }}" } }'` }}
{{- end }}
{{- end }}
```
{{- end }}
{{- end }}
