{{ if .Vars.system.mysql.version -}}
services:

    #########
    # MySQL #
    #########

    mysql:
        image: mysql/mysql-server:{{ .Vars.system.mysql.version | toString }}
        {{- if le (.Vars.system.mysql.version|float64) 5.7 }}
        # mysql/mysql-server image unavailable for arm64 on version <= 5.7
        # force amd64 architecture
        platform: linux/amd64
        {{- end }}
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            MYSQL_ROOT_HOST: "%"
        network_mode: service:app
        healthcheck:
            test: mysqladmin ping --silent --host 0.0.0.0
            interval: 30s
            timeout: 30s
            retries: 3
            start_period: 0s

    #######
    # App #
    #######

    app:
        ports:
            # MySQL / MariaDB
            - {{ include "project_port" (list .Vars.project 6) }}:3306
{{ else -}}
#                         .
#               /^\     .
#          /\   "V"
#         /__\   I      O  o
#        //..\\  I     .        MySQL service is disabled
#        \].`[/  I
#        /l\/j\  (]    .  O
#       /. ~~ ,\/I          .
#       \\L__j^\/I       o
#        \/--v}  I     o   .
#        |    |  I   _________
#        |    |  I c(`       ')o
#        |    l  I   \.     ,/
#      _/j  L l\_!  _//^---^\\_
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{{ end -}}
