version: "3.7"

services:

  ###########
  # Ansible #
  ###########

  ansible:
    hostname: ansible
    build:
      context: .
      target: ansible
    user: lazy
    volumes:
      - .home:/home:delegated
      - ..:${_DOCKER_DIR}:cached
      {{- range $mount := .Vars.system.mount }}
      - ../{{ $mount }}:${_DOCKER_DIR}/{{ $mount }}:cached
      {{- end }}
    working_dir: ${_DOCKER_DIR}
    network_mode: bridge # Use default docker bridge network
