version: "3.7"

services:

  ###########
  # Ansible #
  ###########

  ansible:
    hostname: ansible
    build:
      context: .
      target: ansible
    command: ["sleep", "infinity"]
    init: true
    restart: always
    volumes:
      - ..:/srv:cached
