{{- with .Vars.deploy -}}

---

{{- if .inventory }}

all:

    vars:
        ansistrano_allow_anonymous_stats: false
        ansistrano_deploy_via: rsync
        ansistrano_deploy_from: {{ `"{{ playbook_dir }}/../../"` }}
        # Shared
        {{- if .shared_paths }}
        ansistrano_shared_paths: {{ .shared_paths | toYaml | nindent 10 }}
        {{- end }}
        {{- if .shared_files }}
        ansistrano_shared_files: {{ .shared_files | toYaml | nindent 10 }}
        {{- end }}
        # Hooks
        {{- if .hooks.before_symlink }}
        ansistrano_before_symlink_tasks_file: hooks/before_symlink.yaml
        {{- end }}
        {{- if or .excludes .includes }}
        # Extra params
        ansistrano_rsync_extra_params:
          {{- range $include := .includes }}
          - --include={{ $include }}
          {{- end }}
          {{- range $exclude := .excludes }}
          - --exclude={{ $exclude }}
          {{- end }}
        {{- end }}

    children:

    {{- range $group, $hosts := .inventory }}
        {{ $group }}:
            hosts:
            {{- range $host, $vars := $hosts }}
                {{ $host }}:
                    ansible_host: {{ $vars.host }}
                    ansible_user: {{ $vars.user }}
                    ansistrano_deploy_to: {{ $vars.dir }}
            {{- end }}
    {{- end }}

{{- end }}

{{- end }}
