# -*- mode: ruby -*-
# vi: set ft=ruby :

# export PYTHONUNBUFFERED=1 && export ANSIBLE_FORCE_COLOR=1

#toto = Vagrant::Environment.new(:cwd => File.expand_path('..', __FILE__))
#env.cli('up')

#puts YAML::dump(File.expand_path('..', __FILE__))
#puts YAML::dump(@env.local_data_path)
#puts YAML::dump(@envo)

Vagrant.require_version '>= 2.2.9'

Vagrant.configure('2') do |config|

  #toto = Vagrant::Environment.new(File.expand_path('..', __FILE__))
  #toto = Vagrant::Environment.new(:cwd => File.expand_path('..', __FILE__))
  #puts YAML::dump(toto)

  #config.trigger.after [:up] do |trigger|
  #  trigger.name = "ssh-config"
  #  trigger.run = {inline: 'sh -c "vagrant ssh-config > ssh-config"'}
  #end

  config.trigger.after [:up] do |trigger|
    #trigger.info = "Trigger trigger"
    trigger.ruby do |env, machine|
      File.write(
        File.join(env.local_data_path, 'ssh-config'),
        Vagrant::Util::TemplateRenderer.render('commands/ssh_config/config', {
          host_key: machine.name,
          ssh_host: machine.ssh_info[:host],
          ssh_port: machine.ssh_info[:port],
          ssh_user: machine.ssh_info[:username],
          keys_only: machine.ssh_info[:keys_only],
          verify_host_key: machine.ssh_info[:verify_host_key],
          private_key_path: machine.ssh_info[:private_key_path],
          log_level: machine.ssh_info[:log_level],
          forward_agent: machine.ssh_info[:forward_agent],
          forward_x11:   machine.ssh_info[:forward_x11],
          proxy_command: machine.ssh_info[:proxy_command],
          ssh_command:   machine.ssh_info[:ssh_command],
          forward_env:   machine.ssh_info[:forward_env],
          config:        machine.ssh_info[:config]
        })
      )
    end
  end

  # Ssh
  config.ssh.forward_agent = true
  config.ssh.insert_key = false
  config.ssh.extra_args = ['-q'] # Quiet mode
  config.ssh.forward_env = ['WORKDIR']

  # Vm
  config.vm.box = 'bento/debian-{{ .Vars.system.version }}'
  config.vm.hostname = '{{ .Vars.system.hostname }}'
  config.vm.network 'private_network', type: 'dhcp'
  config.vm.define 'development' do |development| end
  config.vm.synced_folder '..', '/srv/app',
    type: 'nfs',
    mount_options: ['nolock', 'actimeo=1', 'fsc']

  # Vm - Virtualbox
  config.vm.provider 'virtualbox' # Force provider
  config.vm.provider :virtualbox do |virtualbox|
    virtualbox.name = '{{ regexReplaceAll "^(.*)\\.[^.]*$" .Vars.system.hostname "${1}" }}'
    virtualbox.memory = {{ .Vars.system.memory }}
    virtualbox.cpus = {{ .Vars.system.cpus }}
  end

  # Plugins - Landrush
  config.vagrant.plugins = ['landrush']
  config.landrush.enabled = true
  config.landrush.tld = config.vm.hostname
  config.landrush.guest_redirect_dns = false

  # Vm - Provision - Dotfiles
  for dotfile in ['.gitconfig', '.gitignore']
    if File.exists?(File.join(Dir.home, dotfile)) then
      config.vm.provision dotfile, type: 'file', run: 'always' do |file|
        file.source = '~/' + dotfile
        file.destination = dotfile
      end
    end
  end

  # Vm - Provision - Setup
  config.vm.provision 'setup', type: 'shell' do |setup|
    setup.keep_color = true
    setup.privileged = true
    setup.reset = true
    setup.path = 'vagrant/bin/setup.sh'
  end

  # Vm - Provision - System
  config.vm.provision 'system', type: 'ansible_local' do |system|
    system.provisioning_path = '/vagrant/ansible'
    system.playbook = 'system.yaml'
    system.inventory_path = 'inventories'
    system.become = true
    system.galaxy_role_file = 'roles/system/requirements.yaml'
    system.galaxy_command = 'ansible-galaxy collection install --requirements-file=%{role_file} --force'
    system.tags = ENV['TAGS']
    system.verbose = ENV['VERBOSE'] ? 'vvv' : false
    system.raw_arguments = ENV['DIFF'] ? ['--check', '--diff'] : []
  end

end
