printf "\n"
printf "          \033[33m|\033[0m\n"
printf "        \033[33m\ _ /\033[0m     Lazy - Ansible\n"
printf "      \033[33m-= (_) =-\033[0m\n"
printf "        \033[33m/   \ \033[0m        \033[32m_\/_\033[0m\n"
printf "          \033[33m|\033[0m           \033[32m//o\ \033[0m \033[32m_\/_\033[0m\n"
printf "\033[34m   _____ _ __ __ ____ _ \033[32m| \033[34m__\033[32m/o\ \033[34m_\033[0m\n"
printf "\033[34m =-=-_-__=_-= _=_=-=_,-'\033[32m|\033[34m\"'\"\"-\033[32m|\033[34m-,_\033[0m\n"
printf "\033[34m  =- _=-=- -_=-=_,-\"          \033[32m|\033[34m\"\033[0m\n"
printf "\033[34m    =- =- -=.--\"\033[0m\n"
printf "\n"
{{- $ansible := .Vars.system.ansible }}
printf " \033[36m‣ ansible \033[35m{{ $ansible.version }}\033[0m\n"
{{- $ansible_lint := .Vars.system.ansible_lint }}
{{- if $ansible_lint.version }}
printf " \033[36m‣ ansible-lint \033[35m{{ $ansible_lint.version }}\033[0m\n"
{{- end }}
{{- $molecule := .Vars.system.molecule }}
{{- if $molecule.version }}
printf " \033[36m‣ molecule \033[35m{{ $molecule.version }}\033[0m\n"
{{- if $molecule.docker.version }}
printf " \033[36m‣ molecule-docker \033[35m{{ $molecule.docker.version }}\033[0m\n"
{{- end }}
{{- end }}
