printf "\n"
printf "          \033[33m|\033[0m\n"
printf "        \033[33m\ _ /\033[0m     Lazy - Kubernetes\n"
printf "      \033[33m-= (_) =-\033[0m\n"
printf "        \033[33m/   \ \033[0m        \033[32m_\/_\033[0m\n"
printf "          \033[33m|\033[0m           \033[32m//o\ \033[0m \033[32m_\/_\033[0m\n"
printf "\033[34m   _____ _ __ __ ____ _ \033[32m| \033[34m__\033[32m/o\ \033[34m_\033[0m\n"
printf "\033[34m =-=-_-__=_-= _=_=-=_,-'\033[32m|\033[34m\"'\"\"-\033[32m|\033[34m-,_\033[0m\n"
printf "\033[34m  =- _=-=- -_=-=_,-\"          \033[32m|\033[34m\"\033[0m\n"
printf "\033[34m    =- =- -=.--\"\033[0m\n"
printf "\n"
{{- $kubectl := .Vars.system.kubectl }}
printf " \033[36m‣ kubectl \033[35m{{ $kubectl.version }}\033[0m\n"
{{- $helm := .Vars.system.helm }}
{{- if $helm.version }}
printf " \033[36m‣ helm \033[35m{{ $helm.version }}\033[0m\n"
{{- range $plugin := $helm.plugins }}
printf "    \033[36m·
  {{- if hasKey $plugin "url" }} {{ $plugin.url }}{{ end -}}
  {{- if hasKey $plugin "path" }} {{ $plugin.path }}{{ end -}}
  {{- if hasKey $plugin "version" }} \033[35m{{ $plugin.version }}{{ end -}}
  \033[0m\n"
{{- end }}
{{- end }}
{{- $helmfile := .Vars.system.helmfile }}
{{- if $helmfile.version }}
printf " \033[36m‣ helmfile \033[35m{{ $helmfile.version }}\033[0m\n"
{{- end }}
{{- $k9s := .Vars.system.k9s }}
{{- if $k9s.version }}
printf " \033[36m‣ k9s \033[35m{{ $k9s.version }}\033[0m\n"
{{- end }}
{{- $stern := .Vars.system.stern }}
{{- if $stern.version }}
printf " \033[36m‣ stern \033[35m{{ $stern.version }}\033[0m\n"
{{- end }}
{{- $kubePrompt := index .Vars.system "kube-prompt" }}
{{- if $kubePrompt.version }}
printf " \033[36m‣ kube-prompt \033[35m{{ $kubePrompt.version }}\033[0m\n"
{{- end }}
{{- $popeye := .Vars.system.popeye }}
{{- if $popeye.version }}
printf " \033[36m‣ popeye \033[35m{{ $popeye.version }}\033[0m\n"
{{- end }}
{{- $knsk := .Vars.system.knsk }}
{{- if $knsk.version }}
printf " \033[36m‣ knsk \033[35m{{ $knsk.version }}\033[0m\n"
{{- end }}
{{- $vault := .Vars.system.vault }}
{{- if $vault.version }}
printf " \033[36m‣ vault \033[35m{{ $vault.version }}\033[0m\n"
{{- end }}
{{- $rclone := .Vars.system.rclone }}
{{- if $rclone.version }}
printf " \033[36m‣ rclone \033[35m{{ $rclone.version }}\033[0m\n"
{{- end }}
{{- $openstack := .Vars.system.openstack }}
{{- if $openstack.version }}
printf " \033[36m‣ openstack \033[35m{{ $openstack.version }}\033[0m\n"
{{- end }}
{{- $swift := .Vars.system.swift }}
{{- if $swift.version }}
printf " \033[36m‣ swift \033[35m{{ $swift.version }}\033[0m
  {{- if $swift.keystone.version }} (\033[36mkeystone \033[35m{{ $swift.keystone.version }}\033[0m){{ end -}}
\n"
{{- end }}
{{- $scw := .Vars.system.scw }}
{{- if $scw.version }}
printf " \033[36m‣ scw \033[35m{{ $scw.version }}\033[0m\n"
{{- end }}
{{- $sops := .Vars.system.sops }}
{{- if $sops.version }}
printf " \033[36m‣ sops \033[35m{{ $sops.version }}\033[0m\n"
{{- end }}
{{- $aws := .Vars.system.aws }}
{{- if $aws.version }}
printf " \033[36m‣ aws \033[35m{{ $aws.version }}\033[0m\n"
{{- end }}
{{- $gcloud := .Vars.system.gcloud }}
{{- if $gcloud.version }}
printf " \033[36m‣ gcloud \033[35m{{ $gcloud.version }}\033[0m\n"
{{- end }}
{{- $age := .Vars.system.age }}
{{- if $age.version }}
printf " \033[36m‣ age \033[35m{{ $age.version }}\033[0m\n"
{{- end }}

{{- $help := .Vars.project.help }}
{{- if $help }}
printf "\n"
cat << EOF
{{ $help }}
EOF
{{- end }}
