version: "3.8"

services:

    ###########
    # MailHog #
    ###########

    mailhog:
        image: mailhog/mailhog:v1.0.1
        entrypoint:
            - /bin/sh
            - -c
            - MailHog -smtp-bind-addr 0.0.0.0:25 &>/dev/null
        network_mode: service:app

    {{- if or .Vars.system.mysql.version .Vars.system.mariadb.version }}

    ##############
    # PhpMyAdmin #
    ##############

    phpmyadmin:
        image: phpmyadmin:5.1.3
        environment:
            PMA_USER: root
            PMA_HOST: app
            UPLOAD_LIMIT: 64M
        ports:
            - {{ add .Vars.project.ports 79 }}:80
        depends_on:
            {{- if .Vars.system.mysql.version }}
            - mysql
            {{- else if .Vars.system.mariadb.version }}
            - mariadb
            {{- end }}

    {{- end }}

    {{- if .Vars.system.redis.version }}

    #################
    # PhpRedisAdmin #
    #################

    phpredisadmin:
        image: erikdubbelboer/phpredisadmin:v1.17.0
        environment:
            REDIS_1_HOST: app
        ports:
            - {{ add .Vars.project.ports 81 }}:80
        depends_on:
            - app

    {{- end }}

    #######
    # App #
    #######

    app:
        build:
            args:
                MANALA_INIT: sysv
                MANALA_PROVISION: ansible
                MANALA_PROVISION_LIMIT: development
        tty: true
        tmpfs:
           - /tmp
           - /run
        ports:
            - {{ add .Vars.project.ports 25 }}:8025
            {{- if .Vars.system.nginx.configs }}
            - {{ add .Vars.project.ports 80 }}:80
            - {{ add .Vars.project.ports 43 }}:443
            {{- end }}
            {{- if .Vars.system.supervisor.configs }}
            - {{ add .Vars.project.ports 1 }}:9001
            {{- end }}
            {{- if or .Vars.system.mysql.version .Vars.system.mariadb.version }}
            - {{ add .Vars.project.ports 6 }}:3306
            {{- end }}
            {{- if .Vars.system.elasticsearch.version }}
            - {{ add .Vars.project.ports 92 }}:9200
            {{- end }}
            {{- if .Vars.system.docker.services.app.ports }}
            {{- .Vars.system.docker.services.app.ports | toYaml | nindent 12 }}
            {{- end }}
