services:

    #######
    # App #
    #######

    app:
        build:
            args:
                MANALA_PROVISION: ansible
                MANALA_PROVISION_LIMIT: development
        ports:
            # Usuals (Webpack dev-server, …)
            - {{ include "project_port" (list .Vars.project 88) }}:8080
            {{- if .Vars.system.nginx.configs }}
            # Nginx
            - {{ include "project_port" (list .Vars.project 80) }}:80
            - {{ include "project_port" (list .Vars.project 43) }}:443
            {{- end }}
            {{- if .Vars.system.supervisor.configs }}
            # Supervisor
            - {{ include "project_port" (list .Vars.project 1) }}:9001
            {{- end }}
            {{- if .Vars.system.docker.services.app.ports }}
            # App
            {{- .Vars.system.docker.services.app.ports | toYaml | nindent 12 }}
            {{- end }}
