{{ if and .Vars.system.mariadb.version (not .Vars.system.mysql.version) -}}
services:

    ###########
    # MariaDB #
    ###########

    mariadb:
        image: mariadb:{{ .Vars.system.mariadb.version | toString }}
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        network_mode: service:app
        healthcheck:
            {{- if le (.Vars.system.mariadb.version|float64) 10.1 }}
            test: mysqladmin ping --silent --host 0.0.0.0
            {{- else }}
            # See: https://mariadb.com/kb/en/using-healthcheck-sh/
            test: healthcheck.sh --connect --innodb_initialized
            {{- end }}
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 0s

    #######
    # App #
    #######

    app:
        ports:
            # MySQL / MariaDB
            - {{ include "project_port" (list .Vars.project 6) }}:3306
{{ else -}}
#                  %%%%
#                 %%%%-(
#               _%%%%%_/                        \ ' /
#             _%%%%%%%%                        - (_) -
#           _%%%%%%%/ \%                        / , \
#          %%%%%%%%%\\ \_
#            %%%%%%   \ \\    MariaDB service is disabled
#                )    /\_/
#              /(___. \
#              '----' (
#             /       )
# ---....____/        (_____ __ _ ___ ___ __ _ _ _____ _ _ ___
#           /         )---...___ =-= = -_= -=_= _-=_-_ -=- =-_
#         ,'          (         ```--.._= -_= -_= _-=- -_= _=-
#      ,-'            )                 ``--._=-_ =-=_-= _-= _
#      '-._    '-..___(                       ``-._=_-=_- =_-=
#          ``---....__)                            `-._-=_-_=-
#                )|)|                                  `-._=-_
#               '-'-.\_                                    `-.
{{ end -}}
