printf "\n"
printf "          \033[33m|\033[0m\n"
printf "        \033[33m\ _ /\033[0m     Lazy - Ansible\n"
printf "      \033[33m-= (_) =-\033[0m\n"
printf "        \033[33m/   \ \033[0m        \033[32m_\/_\033[0m\n"
printf "          \033[33m|\033[0m           \033[32m//o\ \033[0m \033[32m_\/_\033[0m\n"
printf "\033[34m   _____ _ __ __ ____ _ \033[32m| \033[34m__\033[32m/o\ \033[34m_\033[0m\n"
printf "\033[34m =-=-_-__=_-= _=_=-=_,-'\033[32m|\033[34m\"'\"\"-\033[32m|\033[34m-,_\033[0m\n"
printf "\033[34m  =- _=-=- -_=-=_,-\"          \033[32m|\033[34m\"\033[0m\n"
printf "\033[34m    =- =- -=.--\"\033[0m\n"
printf "\n"
{{- $ansible := .Vars.system.ansible }}
printf " \033[36m‣ ansible \033[35m{{ $ansible.version }}\033[0m\n"
{{- range $dependency := $ansible.dependencies }}
printf "    \033[36m· {{ $dependency }}\033[0m\n"
{{- end }}
{{- $ansibleLint := index .Vars.system "ansible-lint" }}
{{- if $ansibleLint.version }}
printf " \033[36m‣ ansible-lint \033[35m{{ $ansibleLint.version }}\033[0m\n"
{{- range $dependency := $ansibleLint.dependencies }}
printf "    \033[36m· {{ $dependency }}\033[0m\n"
{{- end }}
{{- end }}
{{- $molecule := .Vars.system.molecule }}
{{- if $molecule.version }}
printf " \033[36m‣ molecule \033[35m{{ $molecule.version }}\033[0m\n"
{{- range $dependency := $molecule.dependencies }}
printf "    \033[36m· {{ $dependency }}\033[0m\n"
{{- end }}
{{- end }}
{{- $terraform := .Vars.system.terraform }}
{{- if $terraform.version }}
printf " \033[36m‣ terraform \033[35m{{ $terraform.version }}\033[0m\n"
{{- end }}

{{- $help := .Vars.project.help }}
{{- if $help }}
printf "\n"
cat << EOF
{{ $help  | trim }}
EOF
{{- end }}
