# Release

{{- if not .Vars.deliveries }}

¯\_(ツ)_/¯ No deliveries configured…

{{- else }}

## Usage

{{- /* Guess apps */ -}}
{{- $apps := list -}}
{{- range $delivery := .Vars.deliveries -}}
{{- if hasKey $delivery "app" -}}
{{- $apps = (append $apps $delivery.app) | uniq -}}
{{- end -}}
{{- end -}}

{{- /* Guess tiers */ -}}
{{- $tiers := list -}}
{{- range $delivery := .Vars.deliveries -}}
{{- $tiers = (append $tiers $delivery.tier) | uniq -}}
{{- end }}

### Release Workflow

`.github/workflows/release.yaml`:

```yaml
name: Release
{{- if $apps }}
run-name: {{ `${{ format('Release{0} of {1} on {2}', github.event.inputs.deploy == 'true' && ' & Deploy' || '', github.event.inputs.app, github.event.inputs.tier) }}` }}
{{- else }}
run-name: {{ `${{ format('Release{0} on {1}', github.event.inputs.deploy == 'true' && ' & Deploy' || '', github.event.inputs.tier) }}` }}
{{- end }}

on:
  workflow_dispatch:
    inputs:
      {{- if $apps }}
      app:
        description: App
        type: choice
        options: [{{ $apps | join ", " }}]
        default: {{ first $apps }}
        required: true
      {{- end }}
      tier:
        description: Tier
        type: environment
        required: true
      ref:
        description: Git reference. Provide an explicit ref to release if it does not match your tier.
        required: false
      deploy:
        description: Follow with a deployment if release succeeded
        type: boolean
        default: 'false'
        required: false

concurrency:
  {{- if $apps }}
  group: {{ `${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.app }}-${{ github.event.inputs.tier }}` }}
  {{- else }}
  group: {{ `${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.tier }}` }}
  {{- end }}
  cancel-in-progress: true

jobs:
  release:
    {{- if $apps }}
    name: {{ `${{ format('Release {0}@{1}', github.event.inputs.app, github.event.inputs.tier) }}` }}
    {{- else }}
    name: {{ `${{ format('Release on {0}', github.event.inputs.tier) }}` }}
    {{- end }}
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup container with Manala'
        uses: ./.manala/github/deliveries/setup
        with:
          secrets: {{ `${{ toJSON(secrets) }}` }}
          {{- if $apps }}
          app: {{ `${{ github.event.inputs.app }}` }}
          {{- end }}
          tier: {{ `${{ github.event.inputs.tier }}` }}
          ref: {{ `${{ github.event.inputs.ref }}` }}
          #env: |
          #  {{ `SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}` }}
          #  {{ `COMPOSER_AUTH='{ "github-oauth": { "github.com": "${{ secrets.COMPOSER_AUTH_TOKEN }}" } }'` }}

      - name: 'Release'
        uses: ./.manala/github/deliveries/release
        with:
          {{- if $apps }}
          app: {{ `${{ github.event.inputs.app }}` }}
          {{- end }}
          tier: {{ `${{ github.event.inputs.tier }}` }}

      - name: 'Trigger deployment workflow'
        if: success() && github.event.inputs.deploy == 'true'
        env:
          GH_TOKEN: {{ `${{ secrets.GITHUB_TOKEN }}` }}
        run: |
          gh workflow run deploy \
          {{- if $apps }}
              --field app={{ `${{ github.event.inputs.app }}` }} \
          {{- end }}
              --field tier={{ `${{ github.event.inputs.tier }}` }}
```

{{- end }}
