# Deliveries

{{- if not .Vars.deliveries }}

¯\_(ツ)_/¯ Because it works on my machine...

{{- else }}

## Usage

{{- /* Guess apps */ -}}
{{- $apps := list -}}
{{- range $delivery := .Vars.deliveries -}}
{{- if hasKey $delivery "app" -}}
{{- $apps = (append $apps $delivery.app) | uniq -}}
{{- end -}}
{{- end -}}

{{- /* Guess tiers */ -}}
{{- $tiers := list -}}
{{- range $delivery := .Vars.deliveries -}}
{{- $tiers = (append $tiers $delivery.tier) | uniq -}}
{{- end }}

### Release Workflow

`.github/workflows/release.yaml`:

```yaml
name: Release
{{- if $apps }}
run-name: {{ `${{ format('Release{0} of {1} on {2}', github.event.inputs.deploy == 'true' && ' & Deploy' || '', github.event.inputs.app, github.event.inputs.tier) }}` }}
{{- else }}
run-name: {{ `${{ format('Release{0} on {1}', github.event.inputs.deploy == 'true' && ' & Deploy' || '', github.event.inputs.tier) }}` }}
{{- end }}

on:
  workflow_dispatch:
    inputs:
      {{- if $apps }}
      app:
        description: App
        type: choice
        options: [{{ $apps | join ", " }}]
        default: {{ first $apps }}
        required: true
      {{- end }}
      tier:
        description: Tier
        type: choice
        options: [{{ $tiers | join ", " }}]
        required: true
      ref:
        description: Git reference. Provide an explicit ref to release if it does not match your tier.
        required: false
      deploy:
        description: Follow with a deployment if release succeeded
        type: boolean
        default: 'false'
        required: false

concurrency:
  {{- if $apps }}
  group: {{ `${{ github.workflow }}-${{ github.ref }}${{ github.event.inputs.app != '' && format('-{0}', github.event.inputs.app) || '' }}-${{ github.event.inputs.tier }}` }}
  {{- else }}
  group: {{ `${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.tier }}` }}
  {{- end }}
  cancel-in-progress: true

jobs:
  release:
    name: Release {{ `${{ github.event.inputs.app != '' && format('{0}@', github.event.inputs.app) || '' }}${{ github.event.inputs.tier }}` }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Release
        uses: ./.manala/github/deliveries
        with:
          secrets: {{ `${{ toJSON(secrets) }}` }}
          {{- if $apps }}
          app: {{ `${{ github.event.inputs.app }}` }}
          {{- end }}
          tier: {{ `${{ github.event.inputs.tier }}` }}
          ref: {{ `${{ github.event.inputs.ref }}` }}
          release: true
          #env: |
          #  {{ `SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}` }}
          #  {{ `COMPOSER_AUTH='{ "github-oauth": { "github.com": "${{ secrets.COMPOSER_AUTH_TOKEN }}" } }'` }}

      - name: 'Trigger deployment workflow'
        if: success() && github.event.inputs.deploy == 'true'
        env:
          GH_TOKEN: {{ `${{ secrets.GITHUB_TOKEN }}` }}
        run: |
          gh workflow run deploy \
              --field app={{ `${{ github.event.inputs.app }}` }} \
              --field tier={{ `${{ github.event.inputs.tier }}` }}
```

### Deploy Workflow

`.github/workflows/deploy.yaml`:

```yaml
name: Deploy
{{- if $apps }}
run-name: {{ `${{ format('Deploy {0} on {1}', github.event.inputs.app, github.event.inputs.tier) }}` }}
{{- else }}
run-name: {{ `${{ format('Deploy on {0}', github.event.inputs.tier) }}` }}
{{- end }}

on:
  workflow_dispatch:
    inputs:
      {{- if $apps }}
      app:
        description: App
        type: choice
        options: [{{ $apps | join ", " }}]
        default: {{ first $apps }}
        required: true
      {{- end }}
      tier:
        description: Tier
        type: choice
        options: [{{ $tiers | join ", " }}]
        required: true
      ref:
        description: Git reference from the release repository. Do only provide to deploy another reference than the latest available version for the tier (deploy a previous release or a specific commit).
        required: false

concurrency:
  {{- if $apps }}
  group: {{ `${{ github.workflow }}-${{ github.ref }}${{ github.event.inputs.app != '' && format('-{0}', github.event.inputs.app) || '' }}-${{ github.event.inputs.tier }}` }}
  {{- else }}
  group: {{ `${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.tier }}` }}
  {{- end }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy {{ `${{ github.event.inputs.app != '' && format('{0}@', github.event.inputs.app) || '' }}${{ github.event.inputs.tier }}` }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deploy
        uses: ./.manala/github/deliveries
        with:
          secrets: {{ `${{ toJSON(secrets) }}` }}
          app: {{ `${{ github.event.inputs.app }}` }}
          tier: {{ `${{ github.event.inputs.tier }}` }}
          release: false
          deploy: true
          deploy_ref: {{ `${{ github.event.inputs.ref }}` }}
```

## Exposing secrets

Read more about [exposing secrets to Manala actions](../env/README.md).

{{- end }}
