all:
    children:
    {{- range $release := .Vars.releases }}
    {{- if hasKey $release "deploy_hosts" }}

        {{ include "release_group" $release }}:
            hosts:
            {{- range $index, $host := $release.deploy_hosts }}
                {{ (add $index 1) | printf "%02d" }}{{ include "release_host" $release }}:
                    # Ansible
                    ansible_host: {{ $host.ssh_host }}
                    {{- if hasKey $host "ssh_user" }}
                    ansible_ssh_user: {{ $host.ssh_user }}
                    {{- end }}
                    {{- if hasKey $host "ssh_args" }}
                    ansible_ssh_extra_args: {{ $host.ssh_args }}
                    {{- end }}
                    {{- $host = omit $host "ssh_host" "ssh_user" "ssh_args" -}}
                    {{- if $host }}
                    # Host
                    {{- $host | toYaml | nindent 20 }}
                    {{- end }}
            {{- end }}
            vars:
                deploy_releases: {{ if hasKey $release "deploy_releases" }}{{ $release.deploy_releases }}{{ else }}3{{ end }}
                deploy_strategy: git
                deploy_strategy_git_repo: {{ .repo }}
                {{- if hasKey $release "mode" }}
                deploy_strategy_git_ref: {{ if hasKey $release "app" }}{{ $release.app }}/{{ end }}{{ $release.mode }}
                {{- end }}
                deploy_dir: {{ $release.deploy_dir }}
                {{- if hasKey $release "deploy_tasks" }}
                deploy_tasks:
                    {{- include "release_tasks" $release.deploy_tasks | nindent 18 }}
                {{- end }}
                {{- if hasKey $release "deploy_post_tasks" }}
                deploy_post_tasks:
                    {{- include "release_tasks" $release.deploy_post_tasks | nindent 18 }}
                {{- end }}
                {{- $release = pick $release "deploy_shared_files" "deploy_shared_dirs" "deploy_writable_dirs" -}}
                {{- if $release }}
                {{- $release | toYaml | nindent 16 }}
                {{- end }}
    {{- end -}}
    {{- end }}
