all:
    children:
    {{- range $release := .Vars.releases }}

        {{ include "release_group" $release }}:
            hosts:
                localhost{{ include "release_host" $release }}:
                    ansible_connection: local
            vars:
                release_dir: /srv/release/{{ if hasKey $release "app" }}{{ $release.app }}/{{ end }}{{ $release.mode }}
                release_git_dir: /srv/app
                {{- if hasKey $release "app" }}
                release_target_dir: {{ $release.app }}
                {{- end }}
                release_repo: {{ $release.repo }}
                {{- if hasKey $release "mode" }}
                release_version: {{ if hasKey $release "app" }}{{ $release.app }}/{{ end }}{{ $release.mode }}
                {{- end }}
                {{- if hasKey $release "release_tasks" }}
                release_tasks:
                    {{- include "release_tasks" $release.release_tasks | nindent 18 }}
                {{- end }}
                {{- $release = pick $release "release_removed" "release_add" -}}
                {{- if $release }}
                {{- $release | toYaml | nindent 16 }}
                {{- end }}
    {{- end }}
