####################################################################
# !!! REMINDER !!!                                                 #
# Don't forget to run `manala up` each time you update this file ! #
####################################################################

manala:
    recipe: lazy.ansible

###########
# Project #
###########

project:
    name: {{ .Vars.project.name | toYaml }}

##########
# System #
##########

system:
    ansible:
        version: {{ .Vars.system.ansible.version | toYaml }}
    {{- $ansibleLint := index .Vars.system "ansible-lint" }}
    {{- if $ansibleLint.version }}
    ansible-lint:
        version: {{ $ansibleLint.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.molecule.version }}
    molecule:
        version: {{ .Vars.system.molecule.version | toYaml }}
        {{- if .Vars.system.molecule.docker.version }}
        docker:
            version: {{ .Vars.system.molecule.docker.version | toYaml }}
        {{- end }}
    {{- end }}
