####################################################################
# !!! REMINDER !!!                                                 #
# Don't forget to run `manala up` each time you update this file ! #
####################################################################

manala:
    recipe: lazy.symfony

###########
# Project #
###########

project:
    name: {{ .Vars.project.name | toYaml }}

##########
# System #
##########

system:
    # env_file:
    #     - .env
    #     - path: .env.local
    #       required: false
    # tmpfs:
    #     - /tmp
    #     - /foo/bar:exec
    # apt:
    #     packages:
    #         - nano
    git:
        config: |
            # Silence false positive dubious ownership errors
            #[safe]
            #directory = *
    nginx:
        version: {{ .Vars.system.nginx.version | toYaml }}
        port: {{ .Vars.system.nginx.port }}
    php:
        version: {{ .Vars.system.php.version | toYaml }}
        {{- if .Vars.system.mariadb.version }}
        extensions:
          - mysql
        {{- else }}
        extensions: []
        {{- end }}
    {{- if .Vars.system.nodejs.version }}
    nodejs:
        version: {{ .Vars.system.nodejs.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.mariadb.version }}
    mariadb:
        version: {{ .Vars.system.mariadb.version | toYaml }}
        port: {{ .Vars.system.mariadb.port }}
    {{- if .Vars.system.phpmyadmin.version }}
    phpmyadmin:
        version: {{ .Vars.system.phpmyadmin.version | toYaml }}
        port: {{ .Vars.system.phpmyadmin.port }}
    {{- end }}
    {{- end }}
    {{- if .Vars.system.maildev.version }}
    maildev:
        version: {{ .Vars.system.maildev.version | toYaml }}
        port: {{ .Vars.system.maildev.port }}
    {{- end }}
