deploy:
    children:
    {{- range $delivery := .Vars.deliveries }}
    {{- if hasKey $delivery "deploy_hosts" }}

        {{ include "delivery_group" $delivery }}:
            hosts:
            {{- range $index, $host := $delivery.deploy_hosts }}
                {{ (add $index 1) | printf "%02d" }}{{ include "delivery_host" $delivery }}:
                    # Ansible
                    ansible_host: {{ $host.ssh_host }}
                    {{- if hasKey $host "ssh_user" }}
                    ansible_ssh_user: {{ $host.ssh_user }}
                    {{- end }}
                    {{- if hasKey $host "ssh_args" }}
                    ansible_ssh_extra_args: {{ $host.ssh_args }}
                    {{- end }}
                    {{- $host = omit $host "ssh_host" "ssh_user" "ssh_args" }}
                    {{- if $host }}
                    # Host
                    {{- $host | toYaml | nindent 20 }}
                    {{- end }}
            {{- end }}
            vars:
                deploy_releases: {{ if hasKey $delivery "deploy_releases" }}{{ $delivery.deploy_releases }}{{ else }}3{{ end }}
                deploy_strategy: git
                deploy_strategy_git_repo: {{ $delivery.release_repo }}
                deploy_strategy_git_ref: {{ if hasKey $delivery "release_ref" }}
                  {{- $delivery.release_ref }}
                {{- else }}
                  {{- if hasKey $delivery "app" }}{{ $delivery.app }}/{{ end }}{{ $delivery.tier }}
                {{- end }}
                deploy_dir: {{ $delivery.deploy_dir }}
                {{- if hasKey $delivery "deploy_tasks" }}
                deploy_tasks:
                    {{- include "delivery_tasks" $delivery.deploy_tasks | nindent 20 }}
                {{- end }}
                {{- if hasKey $delivery "deploy_post_tasks" }}
                deploy_post_tasks:
                    {{- include "delivery_tasks" $delivery.deploy_post_tasks | nindent 20 }}
                {{- end }}
                {{- $delivery = pick $delivery "deploy_shared_files" "deploy_shared_dirs" "deploy_writable_dirs" "deploy_remove" -}}
                {{- if $delivery }}
                {{- $delivery | toYaml | nindent 16 }}
                {{- end }}
    {{- end }}
    {{- end }}
