release:
    children:
    {{- range $delivery := .Vars.deliveries }}
    {{- if hasKey $delivery "release_repo" }}

        {{ include "delivery_group" $delivery }}:
            hosts:
                localhost{{ include "delivery_host" $delivery }}:
                    ansible_connection: local
            vars:
                release_dir: /srv/release/{{ if hasKey $delivery "app" }}{{ $delivery.app }}/{{ end }}{{ $delivery.tier }}
                release_git_dir: /srv/app
                {{- if hasKey $delivery "app" }}
                release_target_dir: {{ $delivery.app }}
                {{- end }}
                release_repo: {{ $delivery.release_repo }}
                release_ref: {{ if hasKey $delivery "release_ref" }}
                  {{- $delivery.release_ref }}
                {{- else }}
                  {{- if hasKey $delivery "app" }}{{ $delivery.app }}/{{ end }}{{ $delivery.tier }}
                {{- end }}
                {{- if hasKey $delivery "release_markup" }}
                release_markup: {{ $delivery.release_markup }}
                {{- end }}
                {{- if hasKey $delivery "release_tasks" }}
                release_tasks:
                    {{- include "delivery_tasks" $delivery.release_tasks | nindent 18 }}
                {{- end }}
                {{- $delivery = pick $delivery "release_remove" "release_add" -}}
                {{- if $delivery }}
                {{- $delivery | toYaml | nindent 16 }}
                {{- end }}
    {{- end }}
    {{- end }}
