version: "3.7"

services:

  ##############
  # Kubernetes #
  ##############

  kubernetes:
    hostname: kubernetes
    build:
      context: .
      target: kubernetes
    command: ["sleep", "infinity"]
    init: true
    restart: always
    volumes:
      - ..:/srv:cached
