version: "3.7"

services:

  ##############
  # Kubernetes #
  ##############

  kubernetes:
    hostname: kubernetes
    build:
      context: .
      target: kubernetes
    user: lazy
    volumes:
      - .home:/home:delegated
      - ..:/${_DOCKER_WORKDIR}:cached
    working_dir: ${_DOCKER_WORKDIR}
    network_mode: bridge # Use default docker bridge network
