version: "3.7"

services:

  ##############
  # Kubernetes #
  ##############

  kubernetes:
    hostname: kubernetes
    build:
      context: .
      target: kubernetes
    user: lazy
    {{- if .Vars.system.kubeconfig }}
    environment:
      KUBECONFIG: ${_DOCKER_DIR}/{{ .Vars.system.kubeconfig }}
    {{- end }}
    volumes:
      - .home:/home:delegated
      - ..:${_DOCKER_DIR}:cached
      {{- range $mount := .Vars.system.mount }}
      - ../{{ $mount }}:${_DOCKER_DIR}/{{ $mount }}:cached
      {{- end }}
    working_dir: ${_DOCKER_DIR}
    network_mode: bridge # Use default docker bridge network
