{{/* Elasticsearch version */}}
{{- define "elasticsearch_version" -}}
    {{- $elasticsearch_versions := dict 5 "5.6.16" 6 "6.8.23" 7 "7.17.9" 8 "8.1.3" -}}
    {{- with index $elasticsearch_versions (.version | toString) -}}
        {{ . }}
    {{- else -}}
        {{ .version }}
    {{- end }}
{{- end -}}

{{ if .Vars.system.elasticsearch.version -}}

services:

    #################
    # Elasticsearch #
    #################

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:{{ include "elasticsearch_version" .Vars.system.elasticsearch }}
        {{- if semverCompare "<=6" (include "elasticsearch_version" .Vars.system.elasticsearch) }}
        # docker.elastic.co/elasticsearch/elasticsearch image unavailable for arm64 on version <= 6
        # force amd64 architecture
        platform: linux/amd64
        {{- end }}
        environment:
            discovery.type: single-node
            http.cors.allow-origin: "*"
            http.cors.enabled: "true"
            xpack.security.enabled: "false"
        command: >
            sh -c
            "{{- range $plugin := $.Vars.system.elasticsearch.plugins }}((elasticsearch-plugin list|grep {{ $plugin }}) || elasticsearch-plugin install --batch --verbose {{ $plugin }}) && {{ end -}}
            {{- if semverCompare "<=5" (include "elasticsearch_version" .Vars.system.elasticsearch) }}
            exec bin/es-docker"
            {{- else }}
            exec docker-entrypoint.sh"
            {{- end }}
        network_mode: service:app
        healthcheck:
            test: curl --silent --fail --output /dev/null http://127.0.0.1:9200/_cluster/health?wait_for_status=yellow
            interval: 30s
            timeout: 30s
            retries: 3
            start_period: 0s

    #######
    # App #
    #######

    app:
        ports:
            # Elasticsearch
            - {{ include "project_port" (list .Vars.project 92) }}:9200
{{ else -}}
#                         .
#               /^\     .
#          /\   "V"
#         /__\   I      O  o
#        //..\\  I     .        Elasticsearch service is disabled
#        \].`[/  I
#        /l\/j\  (]    .  O
#       /. ~~ ,\/I          .
#       \\L__j^\/I       o
#        \/--v}  I     o   .
#        |    |  I   _________
#        |    |  I c(`       ')o
#        |    l  I   \.     ,/
#      _/j  L l\_!  _//^---^\\_
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{{ end -}}
