---

# Setup
- name: Setup > Create structure
  community.general.deploy_helper:
    path:          "{{ deploy_dir }}"
    current_path:  "{{ deploy_current_dir }}"
    releases_path: "{{ deploy_releases_dir }}"
    shared_path:   "{{ deploy_shared_dir }}"
    keep_releases: "{{ deploy_releases }}"
    state:         present

# Strategy
- name: Strategy
  ansible.builtin.include_tasks: "strategy/{{ deploy_strategy }}.yml"

# Unfinished
- name: unfinished > Add an unfinished file, to allow cleanup on successful finalize
  ansible.builtin.file:
    path:  "{{ ansible_facts.deploy_helper.new_release_path }}/{{ ansible_facts.deploy_helper.unfinished_filename }}"
    state: touch

# Shared
- name: Shared
  ansible.builtin.import_tasks: shared.yml

# Copied
- name: Copied > Stat
  ansible.builtin.stat:
    path: "{{ ansible_facts.deploy_helper.previous_release_path ~ '/' ~ item }}"
  register: __deploy_copied_stats_output
  with_items: "{{ deploy_copied }}"

- name: Copied > Copy
  ansible.builtin.shell: >
    cp -R {{ ansible_facts.deploy_helper.previous_release_path ~ '/' ~ item.1 ~ (__deploy_copied_stats_output.results[item.0].stat.isdir|ternary('/', '')) }}
    {{ ansible_facts.deploy_helper.new_release_path ~ '/' ~ item.1 }}
  delegate_to: "{{ inventory_hostname }}"
  with_indexed_items: "{{ deploy_copied }}"
  when: __deploy_copied_stats_output.results[item.0].stat.exists
  tags: log_failed

# Writable - Dirs
- name: Writable/dirs
  ansible.builtin.import_tasks: writable/dirs.yml

# Tasks
- name: Tasks
  ansible.builtin.include_tasks: task/{{ item.task }}.yml
  loop: "{{ query('deploy_tasks', deploy_tasks) }}"
  when: item.when

# Remove
- name: Remove > Files
  file:
    path: "{{ ansible_facts.deploy_helper.new_release_path ~ '/' ~ item }}"
    state: absent
  with_items: "{{ deploy_remove }}"

# Finalize
- name: Finalize > Remove the unfinished file and create a symlink to the newly deployed release
  community.general.deploy_helper:
    path: "{{ deploy_dir }}"
    current_path: "{{ deploy_current_dir }}"
    releases_path: "{{ deploy_releases_dir }}"
    release: "{{ ansible_facts.deploy_helper.new_release }}"
    keep_releases: "{{ deploy_releases }}"
    state: finalize
    clean: false

# Clean
- name: Clean > Remove failed and old releases, keeping "{{ deploy_releases }}" releases
  community.general.deploy_helper:
    path: "{{ deploy_dir }}"
    current_path: "{{ deploy_current_dir }}"
    releases_path: "{{ deploy_releases_dir }}"
    release: "{{ ansible_facts.deploy_helper.new_release }}"
    keep_releases: "{{ deploy_releases }}"
    state: clean
  ignore_errors: true

# Post tasks
- name: Post tasks
  ansible.builtin.include_tasks: task/{{ item.task }}.yml
  loop: "{{ query('deploy_tasks', deploy_post_tasks) }}"
  when: item.when
