a {
    &, &:visited {
        color: $color-primary;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    letter-spacing: $headings-letter-spacing;

    small,
    .small {
        font-weight: normal;
        line-height: 1;
        color: $headings-small-color;
    }

    a {
        color: $headings-color;
    }
}

h1, h2, h3 , h4 {
    margin: 0;

    small,
    .small {
        font-size: 65%;
    }
}

h1 {
    font-size: $font-size-h1;
    text-transform: $headings-text-transform;
    margin-bottom: $headings-margin;
    position: relative;
}

h2 {
    font-size: $font-size-h2;
    margin-bottom: $headings-margin;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

p {
    margin: 0 0 20px 0;
}

.orange {
    color: $color-secondary;
}

.manala {
    font-family: $manala-font;
}

ul {
    padding-left: 30px;
}
