####################################################################
# !!! REMINDER !!!                                                 #
# Don't forget to run `manala up` each time you update this file ! #
####################################################################

manala:
    recipe: lazy.kubernetes

###########
# Project #
###########

project:
    name: {{ .Vars.project.name | toYaml }}

##########
# System #
##########

system:
    kubectl:
        version: {{ .Vars.system.kubectl.version | toYaml }}
    {{- if .Vars.system.helm.version }}
    helm:
        version: {{ .Vars.system.helm.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.k9s.version }}
    k9s:
        version: {{ .Vars.system.k9s.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.stern.version }}
    stern:
        version: {{ .Vars.system.stern.version | toYaml }}
    {{- end }}
    {{- $kubePrompt := index .Vars.system "kube-prompt" -}}
    {{- if $kubePrompt.version }}
    kube-prompt:
        version: {{ $kubePrompt.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.popeye.version }}
    popeye:
        version: {{ .Vars.system.popeye.version | toYaml }}
    {{- end }}
