####################################################################
# !!! REMINDER !!!                                                 #
# Don't forget to run `manala up` each time you update this file ! #
####################################################################

manala:
    recipe: lazy.kubernetes

###########
# Project #
###########

project:
    name: {{ .Vars.project.name | toYaml }}

##########
# System #
##########

system:
    kubectl:
        version: {{ .Vars.system.kubectl.version | toYaml }}
    {{- if .Vars.system.helm.version }}
    helm:
        version: {{ .Vars.system.helm.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.helmfile.version }}
    helmfile:
        version: {{ .Vars.system.helmfile.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.k9s.version }}
    k9s:
        version: {{ .Vars.system.k9s.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.stern.version }}
    stern:
        version: {{ .Vars.system.stern.version | toYaml }}
    {{- end }}
    {{- $kubePrompt := index .Vars.system "kube-prompt" -}}
    {{- if $kubePrompt.version }}
    kube-prompt:
        version: {{ $kubePrompt.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.popeye.version }}
    popeye:
        version: {{ .Vars.system.popeye.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.knsk.version }}
    knsk:
        version: {{ .Vars.system.knsk.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.vault.version }}
    vault:
        version: {{ .Vars.system.vault.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.rclone.version }}
    rclone:
        version: {{ .Vars.system.rclone.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.openstack.version }}
    openstack:
        version: {{ .Vars.system.openstack.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.swift.version }}
    swift:
        version: {{ .Vars.system.swift.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.scw.version }}
    scw:
        version: {{ .Vars.system.scw.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.sops.version }}
    sops:
        version: {{ .Vars.system.sops.version | toYaml }}
    {{- end }}
    {{- if .Vars.system.aws.version }}
    aws:
        version: {{ .Vars.system.aws.version | toYaml }}
    {{- end }}
