{%- set programs = item.programs|default({}) -%}
{%- set groups = item.groups|default({}) -%}

{% for group, parameters in groups|dictsort %}
[group:{{ group }}]
{{- {
  'programs': (parameters.programs|mandatory)|join(', '),
  'priority': parameters.priority|default(999, true),
} | combine(parameters) | manala.roles.supervisor_config_parameters }}

{% endfor %}
{% for program, parameters in programs|dictsort %}
[program:{{ program }}]
{{- {
  'command': parameters.command|mandatory,
  'autostart': false,
  'startretries': 20,
  'autorestart': true,
  'user': 'vagrant',
  'redirect_stderr': true,
  'stdout_logfile_maxbytes': 0,
  'stderr_logfile_maxbytes': 0,
} | combine(parameters) | manala.roles.supervisor_config_parameters }}

{% endfor %}
