{%- set config = item.config|default('') -%}

{%- if config -%}

{{ config }}

{%- else -%}

{%- set groups = item.groups|default({}) -%}

{% for group, parameters in groups|dictsort %}
[group:{{ group }}]
{{- parameters | manala.roles.supervisor_config_section() }}

{% endfor %}

{%- set programs = item.programs|default({}) -%}

{% for program, parameters in programs|dictsort %}
[program:{{ program }}]
{{ parameters | manala.roles.supervisor_config_parameter('autorestart', default=True) }}
{{ parameters | manala.roles.supervisor_config_parameter('autostart', default=False) }}
{{ parameters | manala.roles.supervisor_config_parameter('startretries', default=20) }}
{{ parameters | manala.roles.supervisor_config_parameter('stdout_syslog', default=True) }}
{{ parameters | manala.roles.supervisor_config_parameter('stderr_syslog', default=True) }}
{{ parameters | manala.roles.supervisor_config_parameter('user', default='app') }}
{{- parameters | manala.roles.supervisor_config_section(exclude=[
  'autorestart',
  'autostart',
  'startretries',
  'stdout_syslog',
  'stderr_syslog',
  'user',
]) }}

{% endfor %}

{%- endif -%}
