{{- define "deploy_hosts" -}}
{{- $deploy := . -}}
hosts:
{{- range $index, $host := .hosts }}
    {{ (add $index 1) | printf "%02d" }}{{ include "release_host" $deploy }}:
        # Ansible
        ansible_host: {{ $host.ssh_host }}
        {{- if hasKey $host "ssh_user" }}
        ansible_ssh_user: {{ $host.ssh_user }}
        {{- end }}
        {{- if hasKey $host "ssh_args" }}
        ansible_ssh_extra_args: {{ $host.ssh_args }}
        {{- end }}
        ansible_python_interpreter: auto_silent
        {{- $host = omit $host "ssh_host" "ssh_user" "ssh_args" }}
        {{- if $host }}
        # Host
        {{- $host | toYaml | nindent 8 }}
        {{- end }}
{{- end }}
{{- end -}}

{{- define "deploy_vars" -}}
{{- $release := .release -}}
vars:
    deploy_releases: {{ if hasKey $release "deploy_releases" }}{{ $release.deploy_releases }}{{ else }}3{{ end }}
    deploy_strategy: git
    deploy_strategy_git_repo: {{ $release.repo }}
    {{- if hasKey $release "ref" }}
    deploy_strategy_git_ref: {{ $release.ref }}
    {{- else if hasKey $release "mode" }}
    deploy_strategy_git_ref: {{ if hasKey $release "app" }}{{ $release.app }}/{{ end }}{{ $release.mode }}
    {{- end }}
    deploy_dir: {{ $release.deploy_dir }}
    {{- if hasKey $release "deploy_tasks" }}
    deploy_tasks:
        {{- include "release_tasks" $release.deploy_tasks | nindent 8 }}
    {{- end }}
    {{- if hasKey $release "deploy_post_tasks" }}
    deploy_post_tasks:
        {{- include "release_tasks" $release.deploy_post_tasks | nindent 8 }}
    {{- end }}
    {{- $release = pick $release "deploy_shared_files" "deploy_shared_dirs" "deploy_writable_dirs" "deploy_removed" -}}
    {{- if $release }}
    {{- $release | toYaml | nindent 4 }}
    {{- end }}
{{- end -}}

deploy:
    children:
    {{- range $release := .Vars.releases }}
    {{- if hasKey $release "deploy_hosts" }}

        {{ include "release_group" (dict "release" $release) }}:

        {{- if kindIs "map" $release.deploy_hosts }}
            children:
            {{- range $group, $hosts := $release.deploy_hosts }}
                {{ include "release_group" (dict "release" $release "group" $group) }}:
                    {{- include "deploy_hosts" (dict "release" $release "hosts" $hosts "group" $group) | nindent 20 }}
            {{- end }}
        {{- else }}
            {{- include "deploy_hosts" (dict "release" $release "hosts" $release.deploy_hosts) | nindent 12 }}
        {{- end }}

        {{- include "deploy_vars" (dict "release" $release) | nindent 12 }}

    {{- end }}
    {{- end }}
