release:
    children:
    {{- range $release := .Vars.releases }}
    {{- if or (hasKey $release "release_tasks") (hasKey $release "release_add") (hasKey $release "release_removed") }}

        {{ include "release_group" (dict "release" $release) }}:
            hosts:
                localhost{{ include "release_host" (dict "release" $release) }}:
                    ansible_connection: local
                    {{- if eq ($.Vars.system.version|int) 8 }}
                    ansible_python_interpreter: /usr/bin/python
                    {{- else }}
                    ansible_python_interpreter: /usr/bin/python3
                    {{- end }}
            vars:
                release_dir: /srv/release/{{ if hasKey $release "app" }}{{ $release.app }}/{{ end }}{{ $release.mode }}
                release_git_dir: /srv/app
                {{- if hasKey $release "app" }}
                release_target_dir: {{ $release.app }}
                {{- end }}
                release_repo: {{ $release.repo }}
                release_version: {{ if hasKey $release "ref" }}
                  {{- $release.ref }}
                {{- else }}
                  {{- if hasKey $release "app" }}{{ $release.app }}/{{ end }}{{ $release.mode }}
                {{- end }}
                {{- if hasKey $release "release_tasks" }}
                release_tasks:
                    {{- include "release_tasks" $release.release_tasks | nindent 18 }}
                {{- end }}
                {{- $release = pick $release "release_removed" "release_add" -}}
                {{- if $release }}
                {{- $release | toYaml | nindent 16 }}
                {{- end }}
    {{- end }}
    {{- end }}
