{{- with .Vars.system -}}

system:

    vars:

        # Ansible
        ansible_connection: local
        ansible_python_interpreter: /usr/bin/python{{ if gt (.version|int) 8 }}3{{ end }}

        # Accounts
        system_accounts: false
        # Alternatives
        system_alternatives: false
        # App
        system_app: false
        system_app_dir: /srv/app
        system_app_log_dir: /srv/log
        system_app_cache_dir: /srv/cache
        system_app_sessions_dir: /srv/sessions
        # Apt
        system_apt: false
        {{- dict "system_apt_repositories" .apt.repositories | toYaml | nindent 8 }}
        {{- dict "system_apt_preferences" .apt.preferences | toYaml | nindent 8 }}
        {{- dict "system_apt_holds" .apt.holds | toYaml | nindent 8 }}
        # Cron
        system_cron: false
        {{- dict "system_cron_files" .cron.files | toYaml | nindent 8 }}
        # Docker
        system_docker: false
        {{- dict "system_docker_containers" .docker.containers | toYaml | nindent 8 }}
        # Elasticsearch
        system_elasticsearch: false
        system_elasticsearch_version: {{ .elasticsearch.version | toYaml }}
        {{- dict "system_elasticsearch_plugins" .elasticsearch.plugins | toYaml | nindent 8 }}
        # Environment
        system_environment: false
        {{- dict "system_env" .env | toYaml | nindent 8 }}
        # Files
        system_files: false
        {{- dict "system_files_attributes" .files | toYaml | nindent 8 }}
        # Git
        system_git: false
        # Gomplate
        system_gomplate: false
        # InfluxDB
        system_influxdb: false
        {{- dict "system_influxdb_config" .influxdb.config | toYaml | nindent 8 }}
        {{- dict "system_influxdb_databases" .influxdb.databases | toYaml | nindent 8 }}
        {{- dict "system_influxdb_users" .influxdb.users | toYaml | nindent 8 }}
        {{- dict "system_influxdb_privileges" .influxdb.privileges | toYaml | nindent 8 }}
        # Java
        system_java: {{ `"{{ system_elasticsearch }}"` }}
        # Locales
        system_locales: false
        system_locales_default: {{ .locales.default }}
        {{- dict "system_locales_codes" .locales.codes | toYaml | nindent 8 }}
        # MariaDB
        system_mariadb: false
        system_mariadb_version: {{ .mariadb.version | toYaml }}
        system_mariadb_install_packages:
            - mariadb-server
            - mariadb-client
        system_mariadb_configs_dir: {{ ge (.mariadb.version|float64) 10.5 | ternary
            "/etc/mysql/mariadb.conf.d"
            "/etc/mysql/conf.d"
        }}
        # Motd
        system_motd: false
        system_motd_template: {{ .motd.template }}
        {{- dict "system_motd_message" .motd.message | toYaml | nindent 8 }}
        # MySQL
        system_mysql: false
        system_mysql_version: {{ .mysql.version | toYaml }}
        system_mysql_install_packages: null
        system_mysql_configs_dir: /etc/mysql/mysql.conf.d
        # Nginx
        system_nginx: false
        {{- dict "system_nginx_configs" .nginx.configs | toYaml | nindent 8 }}
        # Ngrok
        system_ngrok: false
        # NodeJS
        system_nodejs: false
        system_nodejs_version: {{ .nodejs.version | toYaml }}
        system_nodejs_npm: {{ `"{{ system_nodejs }}"` }}
        {{- dict "system_nodejs_packages" .nodejs.packages | toYaml | nindent 8 }}
        system_nodejs_yarn: {{ `"{{ system_nodejs }}"` }}
        # Oh my zsh
        system_ohmyzsh: false
        # Php
        system_php: false
        system_php_version: {{ .php.version }}
        system_php_composer: {{ `"{{ system_php }}"` }}
        system_php_composer_version: {{ .php.composer.version | toYaml }}
        system_php_sapis:
            - cli
            - fpm
        {{- dict "system_php_extensions" .php.extensions | toYaml | nindent 8 }}
        {{- dict "system_php_configs" .php.configs | toYaml | nindent 8 }}
        # Redis
        system_redis: false
        system_redis_version: {{ .redis.version | toYaml }}
        {{- dict "system_redis_server_config" .redis.config | toYaml | nindent 8 }}
        # Ssh
        system_ssh: false
        system_ssh_server: false
        {{- dict "system_ssh_client_config" .ssh.client.config | toYaml | nindent 8 }}
        # Supervisor
        system_supervisor: false
        {{- dict "system_supervisor_configs" .supervisor.configs | toYaml | nindent 8 }}
        # Symfony Cli
        system_symfony_cli: {{ `"{{ system_php }}"` }}
        # Timezone
        system_timezone: false
        system_timezone_default: {{ .timezone | toYaml }}
        # Vim
        system_vim: false
        # Zsh
        system_zsh: false

    hosts:

        ###############
        # Development #
        ###############

        development:

            # Accounts
            system_accounts: true
            # Alternatives
            system_alternatives: true
            # App
            system_app: true
            system_app_group: vagrant
            system_app_user: vagrant
            # Apt
            system_apt: true
            system_apt_packages:
                - xz-utils
                - rsync
                - wget
                - curl
                - make
                - less
                - ssl-cert
                - htop
                - pv # for real-time progress on streams (e.g mysql import)
            {{- if .apt.packages }}
                # App
                {{- .apt.packages | toYaml | nindent 16 }}
            {{- end }}
            # Network
            system_network: true
            system_network_hosts:
              {{- .network.hosts | toYaml | nindent 16 }}
            # Cron
            system_cron: {{ not (empty .cron.files) | ternary "true" "false" }}
            # Docker
            system_docker: true
            # Elasticsearch
            system_elasticsearch: {{ not (empty .elasticsearch.version) | ternary "true" "false" }}
            # Environment
            system_environment: true
            # Files
            system_files: true
            # Git
            system_git: true
            # Gomplate
            system_gomplate: true
            # InfluxDB
            system_influxdb: {{ not (empty .influxdb.version) | ternary "true" "false" }}
            # Locales
            system_locales: true
            # MariaDB
            system_mariadb: {{ not (empty .mariadb.version) | ternary "true" "false" }}
            # Motd
            system_motd: true
            # MySQL
            system_mysql: {{ not (empty .mysql.version) | ternary "true" "false" }}
            # Nginx
            system_nginx: {{ not (empty .nginx.configs) | ternary "true" "false" }}
            # Ngrok
            system_ngrok: true
            # NodeJS
            system_nodejs: {{ not (empty .nodejs.version) | ternary "true" "false" }}
            # Oh my zsh
            system_ohmyzsh: true
            # Php
            system_php: {{ not (empty .php.version) | ternary "true" "false" }}
            # Redis
            system_redis: {{ not (empty .redis.version) | ternary "true" "false" }}
            # Ssh
            system_ssh: true
            system_ssh_server: true
            system_ssh_client_config_template: {{ `"{{
              'ssh/development/ssh_config.j2'
                if (system_ssh_client_config is string) else
              'config/client/default.dev.j2'
            }}"` }}
            # Supervisor
            system_supervisor: {{ not (empty .supervisor.configs) | ternary "true" "false" }}
            # Timezone
            system_timezone: true
            # Vim
            system_vim: true
            # Zsh
            system_zsh: true

        ###############
        # Integration #
        ###############

        integration:

            # App
            system_app: true
            system_app_group: docker
            system_app_user: docker
            # Apt
            system_apt: true
            system_apt_packages:
                - xz-utils
                - rsync
                - wget
                - curl
                - make
                - less
                - ssl-cert
                - procps
                - vim-tiny
            {{- if .apt.packages }}
                # App
                {{- .apt.packages | toYaml | nindent 16 }}
            {{- end }}
            # Git
            system_git: true
            # Locales
            system_locales: true
            # NodeJS
            system_nodejs: {{ not (empty .nodejs.version) | ternary "true" "false" }}
            # Php
            system_php: {{ not (empty .php.version) | ternary "true" "false" }}
            system_php_sapis:
              - cli
            # Ssh
            system_ssh: true
            system_ssh_client_config_template: {{ `"{{
              'ssh/integration/ssh_config.j2'
                if (system_ssh_client_config is string) else
              'config/client/default.test.j2'
            }}"` }}

{{- end }}
