{%- set config = manala_ssh_client_config|default('', True) -%}

# Allow host autocompletion by disabling hashing in known_hosts file
HashKnownHosts no

# Automatically accept host keys
StrictHostKeyChecking no

# Reduce log level
LogLevel ERROR
    
GSSAPIAuthentication yes
GSSAPIDelegateCredentials no

{{ config }}
