Host *
    StrictHostKeyChecking no
    HashKnownHosts        no
    UserKnownHostsFile    /dev/null
    LogLevel              ERROR

{{ if .Vars.system.ssh.config -}}
{{ .Vars.system.ssh.config }}
{{- end -}}
