####################################################################
# !!! REMINDER !!!                                                 #
# Don't forget to run `manala up` each time you update this file ! #
####################################################################

manala:
    recipe: elao.app

##########
# System #
##########

system:
    version: {{ .Vars.system.version | toYaml }}
    hostname: {{ .Vars.system.hostname | toYaml }}
    # php:
    #     version: 7.3
    #     extensions:
    #       # Symfony
    #       - intl
    #       - curl
    #       - mbstring
    #       - xml
    #       # App
    #       - mysql
    # symfony:
    #     version: "*"
    # nodejs:
    #     version: 12
