{{- with .Vars.system -}}

####################################################################
# !!! REMINDER !!!                                                 #
# Don't forget to run `manala up` each time you update this file ! #
####################################################################

manala:
    recipe: elao.app

##########
# System #
##########

system:
    version: {{ .version | toYaml }}
    hostname: {{ .hostname | toYaml }}
    nginx:
        configs:
          - template: nginx/gzip.j2
          {{- if .php.version }}
          - template: nginx/php_fpm_app.j2
          {{- end }}
          # App
          - file: app.conf
            config: |
                server {
                    server_name ~.;
                    root /srv/app/public;
                    access_log /srv/log/nginx.access.log;
                    error_log /srv/log/nginx.error.log;
                    include conf.d/gzip;
                {{- if .php.version }}
                    location / {
                        try_files $uri /index.php$is_args$args;
                    }
                    location ~ ^/index\.php(/|$) {
                        include conf.d/php_fpm_app;
                        internal;
                    }
                {{- end }}
                }
    {{- if .php.version }}
    php:
        version: {{ .php.version | toYaml }}
        extensions:
          # Symfony
          - intl
          - curl
          - mbstring
          - xml
          # App
          {{- if or (not (empty .mysql.version)) (not (empty .mariadb.version)) }}
          - mysql
          {{- end }}
        configs:
          - template: php/opcache.ini.j2
          - template: php/app.ini.j2
            config:
              date.timezone: UTC
    {{- end }}

    {{- if .nodejs.version }}
    nodejs:
        version: {{ .nodejs.version | toYaml }}
    {{- end }}

    {{- if .mariadb.version }}
    mariadb:
        version: {{ .mariadb.version | toYaml }}
    {{- end }}

    {{- if .mysql.version }}
    mysql:
        version: {{ .mysql.version | toYaml }}
    {{- end }}

    {{- if .redis.version }}
    redis:
        version: {{ .redis.version | toYaml }}
    {{- end }}

    {{- if .elasticsearch.version }}
    elasticsearch:
        version: {{ .elasticsearch.version | toYaml }}
    {{- end }}

    {{- if .influxdb.version }}
    influxdb:
        version: {{ .influxdb.version | toYaml }}
    {{- end }}

    # files:
    #   # Single symfony app
    #   # ------------------
    #   - path: /srv/app/var/log
    #     src: /srv/log
    #     state: link_directory
    #     force: true
    #   - path: /srv/app/var/cache
    #     src: /srv/cache
    #     state: link_directory
    #     force: true
    #   # Multi apps
    #   # ----------
    #   - path: /srv/app/foo/var/log
    #     src: /srv/log/foo
    #     state: link_directory
    #     force: true
    #   - path: /srv/app/foo/var/cache
    #     src: /srv/cache/foo
    #     state: link_directory
    #     force: true
    # ssh:
    #     client:
    #         config: |
    #             Host *.elao.run
    #                 User app
    #                 ForwardAgent yes

{{- end }}
