---

- name: git > Get url
  ansible.builtin.shell: >
    git config --get remote.origin.url
  args:
    chdir: "{{ release_git_dir }}"
  tags: log_failed
  register: __original_repo

- name: git > Get informations
  ansible.builtin.git:
    repo: "{{ __original_repo.stdout }}"
    dest: "{{ release_git_dir }}"
    clone: false
    update: false
  register: __original_repo_git_info

- name: Release directory "{{ release_dir }}"
  ansible.builtin.shell: >
    rm --recursive --force {{ release_dir }}
    && mkdir -p {{ release_dir }}
  args:
    warn: false
  tags: log_failed

- name: git > Export repository
  ansible.builtin.shell: >
    git archive HEAD{{
      ' ' ~ release_target_dir if (release_target_dir) else ''
    }}
    | tar -x -C {{ release_dir }}{{
        ' ' ~ release_target_dir
        ~ ' --strip-components=' ~ release_target_dir.split('/')|length
          if (release_target_dir) else
        ''
    }}
  args:
    chdir: "{{ release_git_dir }}"
  tags: log_failed

- name: tasks
  ansible.builtin.include_tasks: task/{{ item.task }}.yml
  loop: "{{ query('release_tasks', release_tasks) }}"
  when: item.when

- name: git > Init "{{ release_repo }}" on branch "{{ release_ref }}"
  ansible.builtin.shell: >
    git init
    && git checkout -b {{ release_ref }}
    && git remote add origin {{ release_repo }}
    && git fetch
    && (
      git show-ref -q origin/{{ release_ref }} ; rc=$? ;
      if [ $rc -eq 0 -o $rc -eq 1 ] ; then
        if [ $rc -eq 0 ] ; then
          git update-ref HEAD origin/{{ release_ref }} ;
        fi ;
      else
        return $rc ;
      fi
    )
  args:
    chdir: "{{ release_dir }}"
  tags: log_failed

- name: Remove
  ansible.builtin.shell: >
    rm --recursive --force --verbose {{ [release_dir, item]|join('/') }}
  args:
    warn: false
  tags: log_failed
  loop: "{{ release_remove }}"

- name: git > Add all
  ansible.builtin.shell: >
    git add --force --all
  args:
    chdir: "{{ release_dir }}"
  when: release_add|length == 0
  tags: log_failed

- name: git > Add
  ansible.builtin.shell: >
    git add --force {{ item }}
  args:
    chdir: "{{ release_dir }}"
  loop: "{{ release_add }}"
  tags: log_failed

- name: git > Commit
  ansible.builtin.shell: |
    git {{
      release_author|ternary(release_author|regex_replace(release_email_regex, '-c user.name="\g<name>" -c user.email="\g<email>"'), '')
    }} commit --allow-empty --message "{{
      ansible_date_time.year
      ~ ansible_date_time.month
      ~ ansible_date_time.day
      ~ ansible_date_time.hour
      ~ ansible_date_time.minute
      ~ ansible_date_time.second
    }}
    Original commit: https://{{
      __original_repo.stdout|regex_replace(release_git_url_regex, '\g<host>/\g<user>/\g<repository>')
    }}/commit/{{ __original_repo_git_info.after }}"
  args:
    chdir: "{{ release_dir }}"
  tags: log_failed

- name: git > Push "{{ release_ref }}"
  ansible.builtin.shell: >
    git push --set-upstream origin {{ release_ref }}
    && git push origin HEAD
  args:
    chdir: "{{ release_dir }}"
  tags: log_failed

- include_tasks: markup.yml
  when: release_markup
