@use 'sass:color';

.admonition {
  margin: 15px 0;

  p {
    padding: 10px;
    margin: 0;
    color: color.adjust($text-color, $alpha: -0.3);
  }

  &.warning {
    background-color: color.adjust($color-warning, $lightness: 30%);

    .admonition-title {
      color: $color-warning;
      background-color: color.adjust($color-warning, $lightness: 25%);
    }
  }

  &.note {
    background-color: color.adjust($color-info, $lightness: 40%);

    .admonition-title {
      color: $color-info;
      background-color: color.adjust($color-info, $lightness: 35%);
    }

    p {
      color: $color-info;
    }
  }

  .admonition-title {
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
  }
}
