.dropdown {
  position: relative;
  display: inline-block;

  &:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;

    a.dropdown-item {
      display: block;
      font-size: 14px;
      color: $text-color;
      border-left: 2px solid transparent;
      padding: 10px 5px;
      line-height: initial;

      &:hover {
        text-decoration: none;
        border-left-color: $color-primary;
        color: #FFF;
        border-radius: 0;
      }
    }
  }
}
